div.header__left
	div.header__logo
		img.ava(src="app/img/ava.jpg")
	div.header__personalinfo
		h3 Рудик Максим Валерьевич
		a(href="mailto:mvr1976@gmail.com") mvr1976@gmail.com
div.header__right
	div.social.vk
		a(href="http://vk.com/id358738129")
			object(type="image/svg+xml",data="app/icons/vk.svg")
	div.social
		a(href="skype:maxim_rudik?add")
			object(type="image/svg+xml",data="app/icons/sk.svg")
	div.social
		a(href="https://github.com/mvr1976")
			object(type="image/svg+xml",data="app/icons/git.svg")