@font-face {
  font-family: 'fira_sansregular';
  src: url("../fonts/FiraSans/firasans-regular.eot");
  src: url("../fonts/FiraSans/firasans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/firasans-regular.woff2") format("woff2"), url("../fonts/FiraSans/firasans-regular.woff") format("woff"), url("../fonts/FiraSans/firasans-regular.ttf") format("truetype"), url("../fonts/FiraSans/firasans-regular.svg#fira_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sansmedium';
  src: url("../fonts/FiraSans/firasans-medium.eot");
  src: url("../fonts/FiraSans/firasans-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/firasans-medium.woff2") format("woff2"), url("../fonts/FiraSans/firasans-medium.woff") format("woff"), url("../fonts/FiraSans/firasans-medium.ttf") format("truetype"), url("../fonts/FiraSans/firasans-medium.svg#fira_sansmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sanslight';
  src: url("../fonts/FiraSans/firasans-light.eot");
  src: url("../fonts/FiraSans/firasans-light.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSans/firasans-light.woff2") format("woff2"), url("../fonts/FiraSans/firasans-light.woff") format("woff"), url("../fonts/FiraSans/firasans-light.ttf") format("truetype"), url("../fonts/FiraSans/firasans-light.svg#fira_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}
